

.connecte{
    color:green;
}

.deconnecte{
    color:red;
}
.main{
    margin: 1%;
    height:65vh;
}
.question{
    padding: 2% 3%;
}

.stats{
    padding: 10% auto;
}
.chat-field{
    margin-top:2%;
}