<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8"/>
<title>Accueil</title>
<!-- Css -->
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />


</head>
<body ng-app="myApp" ng-controller="appCtrl">
	<!-- Navbar -->
	<div th:include="header">
	</div>
	<!-- Fin Navbar-->

	<!-- Body-->
	<div class="row main">
		<div class="col-lg-2 ListConnecte">
			<h3>Connectés:</h3>
			<ul class="ng-cloak">
				<li ng-repeat="c in connected"
					class="connecte">{{c.pseudo}}</li>
			</ul>
		</div>
		<div class="col-lg-8 question ng-cloak" >
			<div ng-show="isAsking">
				<h3 style="text-align: center">
					<strong>{{currentQuestion.label}}</strong>
				</h3>
				<h4 style="margin: 5% auto">{{currentQuestion.questionText}}</h4>
				<div ng-show="isMsg">
					<br /> <br /> <br /> <br /> <br /> <br />
					<div class="alert alert-warning">{{msg}}</div>
				</div>
			</div>
<!-- 			// A modifier  <div ng-show="!isAsking && isClassement"> -->
			<div ng-show="!isAsking">
				<div class="well well-sm">
					<p ng-repeat="c in joueurs | orderBy:'-nbrPoints' | limitTo:10 ">
					{{$index+1}}. {{c.pseudo}} <span class="badge">{{c.nbrPoints}}</span></p>
				</div>
				<button class="btn btn-primary col-lg-offset-9"
					ng-click="closeClassement()">Retour</button>
			</div>
		</div>
		<div class="col-lg-2 stats ng-cloak" >
			<h3>Statistiques:</h3>
			<br />
			<p>
				<strong>Meilleur score:</strong>
			</p>
			<p>
				<span class="glyphicon glyphicon-star"></span>
				{{topPlayer.pseudo}}: {{topPlayer.nbrPoints}} points
			</p>
			<br />
			<p>
				<strong>Question la plus posée:</strong>
			</p>
			<p>
				<span class="glyphicon glyphicon-collapse-up"></span>
				{{topQuestion.label}} :
				{{topQuestion.nbrFoisPosee}} fois
			</p>
			<br /> <a class="btn btn-info" th:href="@{/statistique}">plus de statistiques</a>
		</div>
	</div>
	<div class="col-lg-10 col-lg-offset-2 chat-field">
		<div class="row">
			<div class="col-lg-9">
				<textarea class="form-control" ng-model="chat" rows="3"></textarea>
			</div>
			<div class="col-lg-3">
				<button class="btn btn-info" ng-click="submitChat()">Envoyer</button>
			</div>
		</div>


	</div>
	<!-- Fin Body-->
	<!-- Js  -->

	<script th:src="@{/js/jquery.min.js}"></script>

	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script th:src="@{/js/angular.min.js}"></script>
	<script th:src="@{/js/app.js}"></script>

	<!-- Modal d'info utilisateur-->
	<div th:include="profil">
	</div>
	<!--  fin Modal d'info utilisateur-->
</body>
</html>
