<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8"/>
<title>Page admin</title>


<!-- Css -->
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/css/admin_style.css" th:href="@{/css/admin_style.css}" />


<link rel="stylesheet" type="text/css"
	href="../static/css/sweetalert.css" th:href="@{/css/sweetalert.css}" />





</head>
<body ng-app="adminApp" ng-controller="adminCtrl">
	<!-- Navbar -->
	<div th:include="header">
	</div>

	<!-- Fin Navbar-->

	<!-- Body-->
	<div class="admin-body ng-cloak">
		<button class="btn btn-success" ng-click="addQuestion()"
			data-toggle="modal" data-target="#add_question">
			<span class="glyphicon glyphicon-plus"></span> Ajouter
		</button>
		<div class="panel-group" id="accordion" role="tablist"
			aria-multiselectable="false">
			<div class="panel panel-primary" style="margin: 1% auto"
				ng-repeat="q in questions">
				<div class="panel-heading" role="tab" id="heading{{q.id}}">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse{{q.id}}" aria-expanded="false"
							aria-controls="collapse{{q.id}}"> {{q.label}} </a>
					</h4>
				</div>
				<div id="collapse{{q.id}}" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="heading{{q.id}}">
					<div style="margin: 1% 2%">
						<button class="btn btn-warning" ng-click="editQuestion($index)"
							data-toggle="modal" data-target="#edit_question">
							Modifier</button>
						<button class="btn btn-danger" ng-click="deleteQuestion(q.id)">
							Supprimer</button>
					</div>
					<div>
						<div class="well well-sm" style="margin: 1% 1%">
							<h4>
								<strong>Question:</strong> {{q.questionText}}
							</h4>
							<h4>
								<strong>Question:</strong> {{q.reponse}}
							</h4>
							<h4>{{q.pointsMaximales}} points</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin Body-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/angular.min.js}"></script>
	<script th:src="@{/js/sweetalert-dev.js}"></script>
	<script th:src="@{/js/adminApp.js}"></script>

	<!-- Modal ajout/modification question-->
	<div th:include="add_question_modal"/>
	<div th:include="edit_question_modal"/>
<!-- 	<jsp:directive.include file="add_question_modal.jsp" /> -->
	<!--  fin Modal d'info utilisateur-->
</body>
</html>
