<div class="modal fade" id="edit_question" tabindex="-1" role="dialog"
	aria-labelledby="edit_question_label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="edit_question_Label">Modifier la
					question</h4>
			</div>
			<form th:action="@{/admin/editQst}" th:object="${question}"
				method="post">
				<div class="modal-body">
					<div class="form-horizontal">
						<input type="number" ng-model="question.id" name="id"
							th:field="*{id}" class="form-control" id="id" /> 
						
						<div class="form-group">
							<label for="label" class="col-sm-2 control-label">Libellé</label>
							<div class="col-sm-10">
								<input type="text" ng-model="question.label"
									class="form-control" id="label" name="label"
									th:field="*{label}" placeholder="Libellé de la question" />
							</div>
						</div>
						<div class="form-group">
							<label for="question" class="col-sm-2 control-label">Question</label>
							<div class="col-sm-10">
								<input type="text" ng-model="question.questionText"
									th:field="*{questionText}" class="form-control"
									id="questionText" name="questionText" placeholder="la question" />
							</div>
						</div>
						<div class="form-group">
							<label for="rep" class="col-sm-2 control-label">Reponse</label>
							<div class="col-sm-10">
								<input type="text" ng-model="question.reponse" name="reponse"
									th:field="*{reponse}" class="form-control" id="reponse"
									placeholder="la reponse" />
							</div>
						</div>
						<div class="form-group">
							<label for="pts" class="col-sm-2 control-label">Max
								Points</label>
							<div class="col-sm-10">
								<input type="text" ng-model="question.pointsMaximales"
									name="pointsMaximales" th:field="*{pointsMaximales}"
									class="form-control" id="pointsMaximales"
									placeholder="points pour la bonne réponse" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-warning">Confirmer</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</form>
		</div>
	</div>
</div>