<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/}">Chat Jeux</a> <a class="navbar-brand"
				th:href="@{/}">Accueil</a>

		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">{{user.pseudo}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#user_info">Info.
								de l'utilisateur</a></li>
						<li><a th:href="@{/logout}">Se déconnecter</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>