<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>S'authentifier / S'enregistrer</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/login_style.css"
	th:href="@{/css/login_style.css}" />
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">S'authentifier</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">S'enregistrer</a>
							</div>
						</div>
						<hr />
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" th:action="@{/login}" method="POST" role="form" style="display: block;">
									<div class="alert alert-danger" th:if="${error}"
										th:text="${exception}"></div>

									<div class="form-group">
										<input type="text" name="email" id="email" tabindex="1"
											class="form-control" placeholder="Email" value="" />
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password"
											tabindex="2" class="form-control" placeholder="Password" />
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember"
											id="remember" /> <label for="remember">Se rappeler de moi</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit"
													tabindex="4" class="form-control btn btn-login"
													value="S'athentifier" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#" tabindex="5" class="forgot-password">Mot de passe oublié</a>
												</div>
											</div>
										</div>
									</div>
								</form>
								 <form id="register-form" th:action="@{/register}" method="post" role="form" style="display: none;">
									<div th:object="${newUser}">
										<div class="form-group">
											<input type="text" name="pseudo" id="pseudo"
												tabindex="1" class="form-control" placeholder="Pseudo"
												th:value="*{pseudo}" />
										</div>
									
										<div class="form-group">
											<input type="email" name="email" id="email" tabindex="1"
												class="form-control" placeholder="Email Address"
												th:value="*{email}" />
										</div>
										<div class="form-group">
											<input type="password" name="motDePasse" id="motDePasse"
												tabindex="2" class="form-control" placeholder="Mot De Passe"
												th:value="*{motDePasse}" />
										</div>
										<div class="form-group">
											<input type="password" name="confirmMotDePasse"
												id="confirmMotDePasse" tabindex="2" class="form-control"
												placeholder="Confirmer Mot de Passe" th:value="*{confirmMotDePasse}" />
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="register-submit"
														id="register-submit" tabindex="4"
														class="form-control btn btn-register" value="S'inscrire" />
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/login.js}"></script>
</body>
</html>