<div class="modal fade" id="user_info" tabindex="-1" role="dialog"
	aria-labelledby="user_info_label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="user_info_Label">Informations
					utilisateurs</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="well well-sm">
								<div class="row">
									<div class="col-sm-6 col-md-8">
										<h3> {{user.pseudo}}</h3>
										<h4>{{user.email}}</h4>
										<div>
											<p>{{user.nbrPoints}}</p>
											<p>{{user.nbrQuestions}}</p>
											<p><strong>Date d'inscription: </strong> {{user.dateInscription}}</p>
											<p><strong>Date de derniere
												connection: </strong> {{user.dateDerniereConnexion}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>