<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="refresh" content="5; url=/login" />
<title>Congratulations !</title>
<link rel="stylesheet" type="text/css"
  href="../static/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
  th:href="@{/css/style.css}" />
</head>
<body>



<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <div class="panel panel-success">
		
		      <div class="panel-heading">Félicitations</div>
		      <div class="panel-body">
		        
		        Votre inscription est terminée avec succés !
		        <p>Vous allez se rediriger à la page d'authentification dans 5 secondes ... SVP <a th:href="@{/login}">cliquer ici</a> si vous n'êtes pas rediriger</p>
		      </div>
		   </div>
		</div>
	</div>
</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/login.js}"></script>

</body>
</html>