<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Statistiques</title>
<!-- Css var -->


<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/stats-style.css" th:href="@{/css/stats-style.css}" />

</head>
<body ng-app="statsApp" ng-controller="statsCtrl">
	<!-- Navbar -->
	<div th:include="header">
	</div>
	<!-- Fin Navbar-->

	<div>
		<h2 class="center-text">Statistiques</h2>
		<h4 class="center-text">
			<a ng-click="refreshStats()"><span
				class="glyphicon glyphicon-refresh"></span></a>
		</h4>
	</div>
	<div class="row ng-cloak" style="margin: 5% 1%;">
		<div class="col-lg-4">
			<h4 class="center-text">Questions les plus posées</h4>
			<div class="well well-sm"
				ng-repeat="q in stats.questions | orderBy:'-nbrFoisPosee'">
				{{$index+1}}. {{q.label}} <span class="badge">{{q.nbrFoisPosee}}
					fois</span>
			</div>
		</div>
		<div class="col-lg-4">
			<h4 class="center-text">Joueurs par ratio nombre
				questions/points</h4>
			<div class="well well-sm"
				ng-repeat="j in stats.joueurs | orderBy: '-nbrPoints'">
				{{$index+1}}. {{j.pseudo}} <span class="badge">{{j.nbrPoints}} points</span>
				 <span class="badge">{{j.nbrQuestions}} questions</span>
			</div>
		</div>
		<div class="col-lg-4">
			<h4 class="center-text">Personnes connectées</h4>
			<div class="well well-sm"
				ng-repeat="c in connected">
				{{c.pseudo}} <span class="badge">Connecté</span>
			</div>
		</div>
	</div>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/angular.min.js}"></script>
	<script th:src="@{/js/statsApp.js}"></script>
	
	<div th:include="profil">
	</div>
</body>
</html>